.container{
    display: flex;
    align-items: center
}
img{
    max-width: 100%;
}
.container > div{
    flex-basis:50%
}

.wrapper {
    width: 100%;
}

.img-Logo {
    width: 30%;
}

.img-info {
    width: 100%
}

.img-info h2 {
    padding: 40px 500px 20px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.img-info p {
    padding: 0px 600px 20px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

.img-Promo {
    width: 100%;
}



